DL_API_TOKEN=change-me
US_MASTER_TOKEN=us-master-token
US_HOST=http://us:8080
CONTROL_API_HOST=http://control-api:8080
META_MANAGER_HOST=http://meta-manager:8080
UI_API_HOST=http://ui-api:8080
# Слой данных (queryDataset / getDatasetFieldValues / getChartData)
DATA_API_HOST=http://data-api:8080
# движок чартов /api/run есть только в datalens-ui с APP_MODE=full
CHARTS_HOST=http://ui:8080
DATA_MAX_ROWS=500
DATA_MAX_DISTINCT=200
DATA_MAX_CELL_CHARS=500
DATA_QUERY_TIMEOUT_SEC=60
DATALENS_API_PORT=8393
DATALENS_API_VERSION_DEFAULT=2
US_TENANT_ID=common
AUTH_HOST=http://auth:8080
AUTH_LOGIN=admin
AUTH_PASSWORD=admin
